<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>upeu.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>upeu.controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatController</servlet-name>
        <servlet-class>upeu.controller.CatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasController</servlet-name>
        <servlet-class>upeu.controller.VentasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucursalesController</servlet-name>
        <servlet-class>upeu.controller.SucursalesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesController</servlet-name>
        <servlet-class>upeu.controller.ClientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tablitauwu</servlet-name>
        <servlet-class>upeu.controller.TablaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosController</servlet-name>
        <servlet-class>upeu.controller.ProductosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorController</servlet-name>
        <servlet-class>upeu.controller.VendedorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatController</servlet-name>
        <url-pattern>/cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasController</servlet-name>
        <url-pattern>/VentasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucursalesController</servlet-name>
        <url-pattern>/SucursalesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesController</servlet-name>
        <url-pattern>/ClientesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tablitauwu</servlet-name>
        <url-pattern>/Tablita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosController</servlet-name>
        <url-pattern>/ProductosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>VendedorController</servlet-name>
        <servlet-class>upeu.controller.VendedorController</servlet-class>
    </servlet>
</web-app>
